<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--CHANGE OF CONNECTION STRING -->
  <connectionStrings>
    <add name="MyDB"
      connectionString="Data Source=.;Initial Catalog=Enteprise_programming_evitaa;Integrated Security=True"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  
    <!--CUSTOM ERRORS ENABLED -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
      <customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>    
  </system.web>

   <!--ROLE MANAGING -->
  <location path="elmah.axd" xdt:Transform="Insert">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  
</configuration>
